In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('qm9.csv')
df.head()

,mol_id,smiles,A,B,C,mu,alpha,homo,lumo,gap,r2,zpve,u0,u298,h298,g298,cv
0,gdb_1,C,157.71180,157.709970,157.706990,0.0000,13.21,-0.3877,0.1171,0.5048,35.3641,0.044749,-40.478930,-40.476062,-40.475117,-40.498597,6.469
1,gdb_2,N,293.60975,293.541110,191.393970,1.6256,9.46,-0.2570,0.0829,0.3399,26.1563,0.034358,-56.525887,-56.523026,-56.522082,-56.544961,6.316
2,gdb_3,O,799.58812,437.903860,282.945450,1.8511,6.31,-0.2928,0.0687,0.3615,19.0002,0.021375,-76.404702,-76.401867,-76.400922,-76.422349,6.002
3,gdb_4,C#C,0.00000,35.610036,35.610036,0.0000,16.28,-0.2845,0.0506,0.3351,59.5248,0.026841,-77.308427,-77.305527,-77.304583,-77.327429,8.574
4,gdb_5,C#N,0.00000,44.593883,44.593883,2.8937,12.99,-0.3604,0.0191,0.3796,48.7476,0.016601,-93.411888,-93.409370,-93.408425,-93.431246,6.278

In [7]:
my_df = df.sample(n=20000, random_state=30)
my_df.head()

,mol_id,smiles,A,B,C,mu,alpha,homo,lumo,gap,r2,zpve,u0,u298,h298,g298,cv
110483,gdb_110484,OCC1C2C3C4C3N2C14,4.15220,1.30144,1.28565,2.9435,73.48,-0.2206,0.0680,0.2886,1032.1364,0.149188,-401.843805,-401.836710,-401.835765,-401.875622,28.162
59518,gdb_59519,CC(C)N1CC2(O)CC12,3.57151,1.05864,0.91649,1.9151,83.22,-0.2031,0.0778,0.2808,1355.5179,0.192384,-404.300200,-404.290625,-404.289681,-404.334092,37.021
100708,gdb_100709,CC(C[NH3+])C(C)C([O-])=O,1.86470,1.42956,0.90340,6.4518,78.47,-0.2383,0.0387,0.2770,1351.2924,0.194261,-441.526249,-441.516139,-441.515195,-441.561340,37.768
125534,gdb_125535,Cc1[nH]c2nncn2n1,5.53546,1.33654,1.08389,6.1553,69.36,-0.2341,-0.0088,0.2253,1043.1183,0.103847,-429.057325,-429.050396,-429.049452,-429.088666,26.083
49632,gdb_49633,O=CC1C2NC3C2OC13,3.37315,1.60041,1.39257,3.4683,67.26,-0.2428,-0.0158,0.2269,929.4179,0.125557,-437.821546,-437.814878,-437.813934,-437.853014,26.155

In [8]:
my_df.to_csv('df_after_1.csv', index=False)